
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fail</title>
    <style>
        .wrap-success-paypal-div {
            width: 600px;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            padding: 77px 55px 33px 55px;
            box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
            -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        }

        .container-success-paypal-div {
            width: 100%;
            min-height: 100vh;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background: #f2f2f2;
        }

        .div_boder_paypal-success {
            padding-top: 4px;
            border-bottom: 1px solid #c9c9c9;
            font-size: 11px;
            border-color: #ddd;
        }

        .your-paid {
            font-size: 32px;
            font-family: arial;
            margin-left: 178px;
            margin-top: 10px;
        }

        .payment-to-shop {
            text-align: center;
            font-family: serif;
            font-size: 16px;
            margin-bottom: 30px;
            margin-left: 40px;
        }

        .payment-success {
            font-weight: 800;
            margin-left: 225px;
            font-size: 50px;
            font-style: italic;
            font-family: arial;
            margin-top: 50px;
            color: #800404;
        }

        .remove_border {
            border: 0px solid;
            background: #ab0c1b;
            text-align: center;
            width: 31px;
            height: 30px;
            border-radius: 25px;
        }

        .hover_remove_border:hover {
            background: #fb5b6a;
        }

        .div_remove_icon {
            float: right;
            margin-top: -63px;
            margin-right: -40px;
        }
    </style>
</head>
<body>
    <div class="container-success-paypal-div">
        <div class="wrap-success-paypal-div">
            <img src="~/images/pp4.PNG" alt="" style="margin-left: -30px;margin-top: -50px;" />
            <div class="div_remove_icon">
                <a asp-controller="Home" asp-action="Index" style="text-decoration:none;">
                    <div asp-controller="Home" asp-action="Index" class="remove_border hover_remove_border"><span style="font-weight: bold;color: white;font-size: 22px;font-family: sans-serif;">x</span></div>
                </a>
            </div>
            <div class="div_boder_paypal-success"></div>
            <img src="~/images/icon-error.png" alt="" style="margin-left: 250px;margin-top: 10px; width:115px;" />
            <div>
                <div class="your-paid">Thanh toán thất bại</div>
            </div>
            <div style="margin-top:10px;">
                <p class="payment-to-shop">Đến TechWorld - Thế giới công nghệ hiện đại</p>
            </div>
            <div class="div_boder_paypal-success"></div>
            <div><h2 class="payment-success">ERROR.</h2></div>
        </div>
    </div>
</body>
</html>
